<h1><%= title %></h1>
<%= render 'layouts/error',name: @task %>
<%= form_with(model:@task,local:true) do |t| %>
  <div>
    <div><%= t.label :title,"タスク名" %></div>
    <div><%= t.text_field :title %></div>
  </div>

  <div>
    <div><%= t.label :detail,"詳細" %></div>
    <div><%= t.text_area :detail %></div>
  </div>

  <div>
    <div><%= t.label :status,"ステータス" %></div>
    <div><%= t.select :status,Task.statuses.keys %></div>
  </div>

  <div>
    <div><%= t.label :expired_at,"終了期限" %></div>
    <div><%= t.datetime_field :expired_at %></div>
  </div>

  <div>
    <%= t.submit(submit)  %> 
    <%= link_to "戻る",tasks_path %>
  </div>
<% end %>