<h1>タスク管理</h1>

<%= form_with(url: tasks_path,scope: :search,method: :get,local: true) do |t| %>
  <%= t.search_field :title,placeholder:"タスク名検索" %>
  <%= t.select :status,Task.statuses.keys,include_blank: "選択して下さい" %>
  <%= t.submit "検索" %>
<% end %>

<%= notice %>
<table>  
  <tr>
    <th>タスク名</th>
    <th>詳細</th>
    <th>終了期限</th>
    <th>ステータス</th>
  </tr> 
  <% @tasks.each do |task| %>
    <tr>
      <td class="task_title"><%= task.title %></td>
      <td><%= task.detail %></td>
      <td><%= task.expired_at.strftime("%Y/%m/%d %H:%M") %></td>
      <td><%= task.status %></td>
      <td><%= link_to "詳細",task_path(task.id) %></td>
      <td><%= link_to "編集",edit_task_path(task.id) %></td>
      <td><%= button_to "削除",task_path(task.id),method: :delete %></td>
    </tr>
  <% end %>
</table>  

<%= link_to "新規タスク",new_task_path %>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
<%= link_to "一覧", tasks_path %>
