<h1>タスク管理</h1>
<hr>
<%= form_with(url: tasks_path,scope: :search,method: :get,local: true) do |t| %>
  <div class="form-row">
    <span class="form-group col-md-4">
      <%= t.search_field :title,placeholder:"タスク名検索",type:"text",class:"form-control",id:"inputCity" %>
    </span>
    <span class="form-group col-md-3">
      <%= t.select :status,Task.statuses.keys,{include_blank: "選択して下さい"},id:"inputState",class:"form-control" %>
    </span>
    <span>
      <%= t.submit "検索",class:"btn btn-secondary " %>
    </span>
    
    <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle bi bi-sort-down btn_sort" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to "作成順", tasks_path,data: {"turbolinks" => false},class:"dropdown-item" %>
        <%= link_to "終了期限順", tasks_path(sort_expired: "true"),data: {"turbolinks" => false},class:"dropdown-item" %>
        <%= link_to "優先順", tasks_path(sort_priority: "true"),data: {"turbolinks" => false},class:"dropdown-item" %>
      </div>
    </div>
  </div>
<% end %>
<%= link_to "新規タスク",new_task_path,type:"button",class:"btn btn-danger btn-sm" %>

<% flash.each do |key, value| %>
  <%= content_tag(:p, value, class: "badge badge-warning") %>
<% end %>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">タスク名</th>
      <th scope="col">詳細</th>
      <th scope="col">終了期限</th>
      <th scope="col">ステータス</th>
      <th scope="col">優先順位</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr> 
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class="task_title" scope="row"><%= task.title %></td>
        <td ><%= task.detail %></td>
        <td><%= task.expired_at.strftime("%Y/%m/%d %H:%M") %></td>
        <td><%= task.status %></td>
        <td class="task_priority"><%= task.priority %></td>
        <td><%= link_to "詳細",task_path(task.id),type:"button",class:"btn btn-outline-info btn-sm"  %></td>
        <td><%= link_to "編集",edit_task_path(task.id),type:"button",class:"btn btn-outline-secondary btn-sm"  %></td>
        <td><%= button_to "削除",task_path(task.id),method: :delete,type:"button",class:"btn btn-outline-danger btn-sm"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tasks %>