<h1>新規タスク</h1>
<%= render 'layouts/error',name: @task %>
<%= form_with(model:@task,local:true) do |t| %>
  <div>
    <div><%= t.label :name,"タスク名" %></div>
    <div><%= t.text_field :name %></div>
  </div>

  <div>
    <div><%= t.label :detail,"詳細" %></div>
    <div><%= t.text_area :detail %></div>
  </div>

  <div>
    <%= t.submit "追加" %>
    <%= link_to "戻る",tasks_path %>
  </div>
<% end %>

