<h1>タスク詳細</h1>
<hr>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">タスク名</th>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <td scope="row"><%= @task.title %></td>
    </tr>
  </tbody>
  <thead class="thead-light">
    <tr>
      <th scope="col">詳細</th>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <td scope="row"><%= @task.detail %></td>
    </tr>
  </tbody>
  <thead class="thead-light">
    <tr>
      <th scope="col">終了期限</th>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <td scope="row"><%= @task.expired_at.strftime("%Y/%m/%d %H:%M") %></td>
    </tr>
  </tbody>
  <thead class="thead-light">
    <tr>
      <th scope="col">ステータス</th>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <td scope="row"><%= @task.status %></td>
    </tr>
  </tbody>
  <thead class="thead-light">
    <tr>
      <th scope="col">優先順位</th>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <td scope="row"><%= @task.priority %></td>
    </tr>
  </tbody>
  <thead class="thead-light">
    <tr>
      <th scope="col">ラベル</th>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <td scope="row">
        <% @task.labels.each do |task_label| %>
          <span class="border border-dark rounded"><%= task_label.name %></span>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<%= link_to "戻る",tasks_path,type:"button",class:"btn btn-outline-dark btn-sm" %>
